workspace/.metadata/.lock
workspace/.metadata/.mylyn/.taskListIndex/segments.gen
workspace/.metadata/.mylyn/.taskListIndex/segments_1
workspace/.metadata/.mylyn/repositories.xml.zip
workspace/.metadata/.mylyn/tasks.xml.zip
workspace/.metadata/.plugins/org.eclipse.cdt.make.core/specs.c
workspace/.metadata/.plugins/org.eclipse.cdt.make.core/specs.cpp
workspace/.metadata/.plugins/org.eclipse.core.resources/.history/58/a05e04442e6300141f10c6092d32e5bd
workspace/.metadata/.plugins/org.eclipse.core.resources/.history/6/80c594622e6300141f10c6092d32e5bd
workspace/.metadata/.plugins/org.eclipse.core.resources/.history/68/a0f2c4122e6300141f10c6092d32e5bd
workspace/.metadata/.plugins/org.eclipse.core.resources/.history/b3/b0314f252e6300141f10c6092d32e5bd
workspace/.metadata/.plugins/org.eclipse.core.resources/.projects/fistProject/.indexes/af/history.index
workspace/.metadata/.plugins/org.eclipse.core.resources/.projects/fistProject/.markers.snap
workspace/.metadata/.plugins/org.eclipse.core.resources/.projects/fistProject/.syncinfo.snap
workspace/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
workspace/.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
workspace/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
workspace/.metadata/.plugins/org.eclipse.core.resources/0.snap
workspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.debug.core.prefs
workspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
workspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
workspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
workspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
workspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
workspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
workspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
workspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
workspace/.metadata/.plugins/org.eclipse.jdt.core/1028199574.index
workspace/.metadata/.plugins/org.eclipse.jdt.core/1065832147.index
workspace/.metadata/.plugins/org.eclipse.jdt.core/1264710741.index
workspace/.metadata/.plugins/org.eclipse.jdt.core/1574318262.index
workspace/.metadata/.plugins/org.eclipse.jdt.core/1604200090.index
workspace/.metadata/.plugins/org.eclipse.jdt.core/1832949699.index
workspace/.metadata/.plugins/org.eclipse.jdt.core/1877021558.index
workspace/.metadata/.plugins/org.eclipse.jdt.core/1947431546.index
workspace/.metadata/.plugins/org.eclipse.jdt.core/2193799835.index
workspace/.metadata/.plugins/org.eclipse.jdt.core/2338776811.index
workspace/.metadata/.plugins/org.eclipse.jdt.core/2486087126.index
workspace/.metadata/.plugins/org.eclipse.jdt.core/2743915309.index
workspace/.metadata/.plugins/org.eclipse.jdt.core/2855042845.index
workspace/.metadata/.plugins/org.eclipse.jdt.core/3095963708.index
workspace/.metadata/.plugins/org.eclipse.jdt.core/3598813974.index
workspace/.metadata/.plugins/org.eclipse.jdt.core/3991718231.index
workspace/.metadata/.plugins/org.eclipse.jdt.core/4004133052.index
workspace/.metadata/.plugins/org.eclipse.jdt.core/828133061.index
workspace/.metadata/.plugins/org.eclipse.jdt.core/834584462.index
workspace/.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
workspace/.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
workspace/.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
workspace/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
workspace/.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
workspace/.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
workspace/.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.5.0.20140606-0033.xml
workspace/.metadata/.plugins/org.eclipse.team.cvs.core/.running
workspace/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
workspace/.metadata/version.ini
workspace/fistProject/.classpath
workspace/fistProject/.project
workspace/fistProject/.settings/org.eclipse.jdt.core.prefs
workspace/fistProject/bin/fistProject/FirstClass.class
workspace/fistProject/bin/fistProject/Main.class
workspace/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
workspace/.metadata/.plugins/org.eclipse.core.resources/.history/46/a0ac8ffb2e6300141f10c6092d32e5bd
workspace/.metadata/.plugins/org.eclipse.core.resources/.history/ab/a0c2affc2e6300141f10c6092d32e5bd
workspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.core.prefs
workspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
workspace/.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_0.fdt
workspace/.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_0.fdx
workspace/.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_0.fnm
workspace/.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_0.frq
workspace/.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_0.nrm
workspace/.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_0.prx
workspace/.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_0.tii
workspace/.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_0.tis
workspace/.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/segments.gen
workspace/.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/segments_1
workspace/.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/write.lock
workspace/.recommenders/repository/http___download_eclipse_org_recommenders_models_luna_/org/eclipse/recommenders/index/0.0.0-SNAPSHOT/_remote.repositories
workspace/.recommenders/repository/http___download_eclipse_org_recommenders_models_luna_/org/eclipse/recommenders/index/0.0.0-SNAPSHOT/index-0.0.0-20140605.014212-1.zip
workspace/.recommenders/repository/http___download_eclipse_org_recommenders_models_luna_/org/eclipse/recommenders/index/0.0.0-SNAPSHOT/maven-metadata-models.xml
workspace/.recommenders/repository/http___download_eclipse_org_recommenders_models_luna_/org/eclipse/recommenders/index/0.0.0-SNAPSHOT/resolver-status.properties
